<!-- <div class="container"> -->
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <div class="jumbotron">
      <h1 class="titleDiv">Take me to Dinner</h1>
      <h3 class="subtitleDiv"></h3>

      <hr>


      <a href="/add" class="btn btn-danger btn-lg">
        <span class="fa fa-plus"></span> Add Your Profile</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-1"></div>
  
  <div class="col-sm-7">
    {{!-- <div class="glowDiv"> --}}


    {{!-- <div class="card peopleAreaCard"> --}}
    {{!-- <div class="card-header peopleAreaHeader">
      Take These People Out To Dinner
    </div> --}}
    {{!-- <div class="card-body peopleAreaCardBody" id="well-section"> --}}
      <!-- Content will go in here -->
      <div id="eaterData">
     
        {{> profile/profile-block this}}

      </div>
    {{!-- </div> --}}
    {{!-- </div> --}}
  {{!-- </div> --}}
  </div>
  <div class="col-sm-3">

    <div class="card peopleAreaCard">
      <div class="card-header peopleAreaCardTitle">
        Filter Settings
      </div>
      <div class="card-body peopleAreaCardBody" id="well-section">
        <br>
        <!--filter pieces-->
        {{!-- <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Location
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <div class="locationDropdowns"></div>
            <li><a href="#">Orlando, FL (hardcoded)</a></li>
          </ul>
        </div>
        <br>
        <br> --}}
        {{! Location Filter }}
        <div class="row">
          <div class="col">
            <div class="btn-group">
              <button type="button" id="locationDropdown" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Location
              </button>
              <div class="dropdown-menu" aria-labelledby="locationDropdown">
              <form class="px-4 py-3">
                <div class="form-group">
                  <input type="text" class="form-control" id="locationSearchTerm" placeholder="Search Location">
                </div>
                <button id="location-search" type="submit" class="btn btn-primary">Search</button>
                <button id="location-clear"  type="button" class="btn btn-secondary">Clear Filter</button>
              </form>
              </div>
            </div>
          </div>
          <div class="col">
            <p id="locSearchTermTxt"></p>
          </div>
        </div>
        <br>
        <br>

        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Restaurant 1
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <div class="r1Dropdowns restaurantDropdowns"></div>
            <li><a href="#">Zaza (hardcoded)</a></li>
          </ul>
        </div>
        <br>
        <br>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Restaurant 2
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <div class="r2Dropdowns restaurantDropdowns"></div>
            <li><a href="#">Zaza (hardcoded)</a></li>
          </ul>
        </div>
        <br>
        <br>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Restaurant 3
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <div class="r3Dropdowns restaurantDropdowns"></div>
            <li><a href="#">Zaza (hardcoded)</a></li>
          </ul>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>



<script>
  var randoTextArray = ["Please don't be creepy.", "Why eat alone when you can eat with a stranger?", "Don't get murdered...", "Meet someone new!", "Tell a friend where you're going maybe.", "Exactly what your mom told you not to do."];

  randoText = Math.floor(Math.random() * randoTextArray.length);
  theText = randoTextArray[randoText];

  console.log(theText);

  // //the jquery
  $(".subtitleDiv").text(theText);

</script>

<script src="js/index.js" type="text/javascript"></script>

